<ul class="list-group">
    <li *ngFor="let g of games" class="list-group-item">
        <!--A table that has the game name on the left and developers, publishers and description on the right-->
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td style="width:20em;">
                        <h3>{{g.name}}</h3>
                    </td>
                    <td>
                        <h4>Developers:</h4>
                        <p>{{g.developers}}</p>
                        
                        <h4>Publishers:</h4>
                        <p>{{g.publishers}}</p>

                        <h4>Description:</h4>
                        <p>{{g.description}}</p>
                    </td>
                    <td>
                        <img src="{{g.image}}" alt="{{g.name}}" style="width:200px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
</ul>